<h1 align="center">
<% if @query.blank? %>
  All articles
  <% else %>
  Search '<%= @query %>'
  <% end %>
</h1>
<%= render 'shared/search' %>
<%= render 'shared/article', obj: @articles %>
<%= render 'shared/will_paginate', locals: { obj: @articles } %>